<h2 class="screen-align">Createseverity</h2>
<div id="template-ikpq" class="row">
    <div id="template-iyuk" class="cell">
        <label id="template-ibci" class="label">name</label>
        <input id="template-ixbr" placeholder="enter severity name"
        [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}" class="input form-control"
        />
        <button id="template-idrs" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-inph" class="cell">
        <label id="template-ijnf" class="label">description</label>
        <input id="template-i05i" placeholder="enter description"
        [(ngModel)]="severity.description" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>