<h2 class="screen-align">Createservice</h2>
<div id="template-i3ij" class="row">
    <div id="template-inpf" class="cell">
        <label id="template-i76l" class="label">name</label>
        <input id="template-iuc1" placeholder="enter service types name"
        [(ngModel)]="servicetypes.name" [ngModelOptions]="{standalone: true}" class="input form-control"
        />
        <button id="template-iakm" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-ifde" class="cell">
        <label id="template-i9a1" class="label">description</label>
        <input id="template-i3ca" placeholder="enter description"
        [(ngModel)]="servicetypes.description" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>